In [1]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [19]:
qry = """  
SELECT * FROM customers
"""

with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

      CustomerID  Age  CorrectedAge  Gender AgeCategory  Rank
0            630   73            44  Female       Adult     1
1             98   62            33    Male       Adult     2
2             98   62            47    Male       Adult     2
3            176   73            44    Male       Adult     2
4            995   41            33  Female       Adult     5
...          ...  ...           ...     ...         ...   ...
1009         650   75            19    Male        Teen    32
1010         596   71            19  Female        Teen    32
1011         245   76            19    Male        Teen    32
1012          41   53            18    Male        Teen    32
1013         855   59            19  Female        Teen    36

[1014 rows x 6 columns]

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [17]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)